{% extends "::base.html.twig" %}
{% block stylesheets %}
{% endblock %}

{% block title %}Partidos de equipo{% endblock %}

{% block body %}
<div style="text-align:center;" class="container">
	<h1 style="margin: 100px;">Partidos jugados de {{nomEquip.nomEquip}}</h1>

		{% for partit in partits %}
			<div>
				<h5>{{partit.competicio}} - Temporada {{partit.temporada}}</h5>
				<h4>{{partit.equipLocal.nomEquip}} - {{partit.equipVisitant.nomEquip}}</h4>
				<h5>{{partit.golslocal}} - {{partit.golsvisitant}}</h5><br>
			</div>

		{% else %}{% extends "::base.html.twig" %}
{% block stylesheets %}
{% endblock %}

{% block title %}Partidos de equipo{% endblock %}

{% block body %}
<div style="text-align:center;" class="container">
	<h1 style="margin: 100px;">Partidos jugados de {{nomEquip.nomEquip}}</h1>

		{% for partit in partits %}
			<div>
				<h5>{{partit.competicio}} - Temporada {{partit.temporada}}</h5>
				<h4>{{partit.equipLocal.nomEquip}} - {{partit.equipVisitant.nomEquip}}</h4>
				<h5>{{partit.golslocal}} - {{partit.golsvisitant}}</h5><br>
			</div>

		{% else %}
		
			<div class="alert alert-danger" role="alert">No se han encontrado partidos jugados por el equipo {{nomEquip.nomEquip}}</div>
		
		{% endfor %}

		<h2>Jugdores de {{nomEquip.nomEquip}}:</h2>
		{% for jugador in jugadors %}
			<h5>- {{jugador.nom}} {{jugador.cognom}}</h5>

		{% else %}
		
			<div class="alert alert-danger" role="alert">No se han encontrado jugadores del equipo {{nomEquip.nomEquip}}</div>
		
		{% endfor %}

	<div style="margin:50px">	
		<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('partidosDeEquipoForm') }}">Buscar partidos de equipo</a></button>
		<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('competiciones') }}">Competiciones</a></button>
	</div>
</div>
{% endblock %}

		
			<div class="alert alert-danger" role="alert">No se han encontrado partidos jugados por el equipo {{nomEquip.nomEquip}}</div>
		
		{% endfor %}

		<h2>Jugdores de {{nomEquip.nomEquip}}:</h2>
		{% for jugador in jugadors %}
			<h5>- {{jugador.nom}} {{jugador.cognom}}</h5>

		{% else %}
		
			<div class="alert alert-danger" role="alert">No se han encontrado jugadores del equipo {{nomEquip.nomEquip}}</div>
		
		{% endfor %}

	<div style="margin:50px">	
		<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('partidosDeEquipoForm') }}">Buscar partidos de equipo</a></button>
		<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('competiciones') }}">Competiciones</a></button>
	</div>
</div>
{% endblock %}
