{% extends "::base.html.twig" %}
{% block stylesheets %}
{% endblock %}

{% block title %}Partidos{% endblock %}

{% block body %}
<div style="text-align:center;" class="container">
	<h1 style="margin: 100px;">Partidos de {{comp}} de la temporada {{temp}}</h1>


		{% for partit in partits %}
			<div>
				<h4>Equipo local {{partit.iDequipLocal}} - Equipo visitante {{partit.iDequipVisitant}}</h4>
				<h5>{{partit.golslocal}} - {{partit.golsvisitant}}</h5><br>
			</div>

		{% else %}
		
			<div class="alert alert-danger" role="alert">No se han encontrado partidos en la temporada {{temp}} de la {{comp}}</div>
		
		{% endfor %}
	
	<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('temporadas' ,{'competicio' : comp} ) }}">Temporadas</a></button>
</div>
{% endblock %}
